/*
Custom CSS
 */
.smlogo{
	width: 140px;
    margin: auto;
    margin-top: 4px;
}

.user-panel p{
	color: white;
	margin: 5px 0;
}

.user-name{
	font-weight: bold;
	font-size: 16px;
}

.content{
	min-height: 550px;
}

.error-block{
	display: block;
	margin-bottom: 10px;
	color: #A2001B;
}

.todo-list>li .label.sub-time{
	margin-left: 20px;
}

.todo-list>li{
	margin-bottom: 10px;
}

.incident-header{
	padding-top: 20px;

}

.incident-body{
	padding: 5px 20px;
}

.incident-details{
	color: #3C8DBC;
}

.incident-data{
	font-size: 16px;
}

.incident-data a{
	color: #164E6F;
}

.space{
	height: 1px;
}

.item .online {
    border: 2px solid #00a65a;
}

.item img {
    width: 40px;
    height: 40px;
    border: 2px solid transparent;
    border-radius: 50%;
}

.item .message .name {
    display: block;
    font-weight: 600;
}

.item .message {
    margin-left: 55px;
    margin-top: -43px;
}

.item .assigned img {
    width: 60px;
    height: 60px;
}

.item .assigned .message {
    margin-left: 75px;
    margin-top: -55px;
}

.item .assigned .message .name {
    font-size: 18px;
}

.item .assigned .message small {
    font-size: 100%;
}

.members{
	width: 40px;
	display: block;
	margin: auto;
}

a.assigned-tix{
	color: #009651;
}

a.to-members{
	color: purple;
}

.assign-self{
	display: block;
    margin: auto;
    margin-top: 15px;
}

.bg-log{
	background: #E0E5EA !important;
}

.add-user{
	display: block;
    margin: auto;
    margin-top: 7px;
    width: 90%;
}

.logs{
	padding: 10px !important;
}

.log-time{
	color: gray;
    margin-top: 4px;
}